* {
    margin: -5px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    overflow: hidden;
    margin-top: 30px;
}

.navigation ul {
    position: relative;
}

.navigation ul li {
    text-align: center;
    list-style: none;
}

.navigation ul li a {
    color: #333;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}

.navigation ul li:hover a {
    color: #0002;
}

.navigation ul li:hover a {
    color: #000;
    background: #fff;
}

.navigation ul li a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba (0, 0, 0, .1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left o.5s;
}

.navigation ul li a:hover:before {
    content: attr(data-text);
    left: 50%;
    opacity: 1;
    letter-spacing: 10px;
    width: 500px;
    height: 500px;
}

.navigation ul li:nth-child(6n+1) a:before {
    background: #81ecec;
}

.navigation ul li:nth-child(6n+1) a:before {
    background: #81ecec;
}

.navigation ul li:nth-child(6n+2) a:before {
    background: #ff7675;
}

.navigation ul li:nth-child(6n+3) a:before {
    background: #55efc4;
}

.navigation ul li:nth-child(6n+4) a:before {
    background: #a29bfe;
}

.navigation ul li:nth-child(6n+5) a:before {
    background: #fd79a8;
}

.navigation ul li:nth-child(6n+6) a:before {
    background: #e3f825;
}


/* Midle section Gallery*/

.container {
    width: 400px;
    display: flex;
    margin-left: 110px;
    margin-top: 30px;
}

.container img {
    max-width: 200px;
    transform-origin: center;
    transform: perspective(800px) rotateY(20deg);
    transition: 0.5s;
    -webkit-box-flex: below 1px linear-gradient(transparent, transparent, #0004);
}

.container:hover img {
    opacity: 0.1;
}

.container img:hover {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
}


/*end Gallery*/


/*TEXT H2*/

.article {
    background: rgb(117, 107, 170);
    color: white;
    width: 100%;
    text-align: left;
    max-width: 83%;
    margin-left: 110px;
    margin-top: 20px;
}

.article hr {
    max-width: 80%;
    height: 6px;
    border-style: none;
    background: -webkit-linear-gradient(left, violet, aqua);
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
}

.article h2 {
    text-align: left;
    font-size: 40px;
    margin-left: 10px;
    color: violet;
}

.article p {
    margin-left: 10px;
    margin-top: 10px;
}


/*end H2*/


/*wpp*/

.container-redes {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-redes a {
    margin-top: 4px;
}

.container-redes img {
    width: 60px;
    padding: 4px;
    background: rgba(197, 127, 148, 0);
    cursor: pointer;
    border-radius: 100%;
    transition: all 300ms;
}

.container-redes a:hover img {
    background: rgba(110, 81, 96, 0.1);
}

footer {
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    background: #202020;
    color: white;
    margin-top: 20px;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


/*FOOTER*/